# Caches de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.unittest_cache/

# Base de datos local
notes.sqlite

# Entornos virtuales
venv/
.venv/
env/

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store